<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/92d9f3f4c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/vendor/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">
</head>
<body>
    @RenderBody()

    <script src="~/vendor/dist/js/bootstrap.js"></script>
</body>
</html>